// ---------------------------------------------------------------------------
// Imports

@import "base";

/* -------------------------------------------------------------------------*/
/* Layout */

.container {
    @include container;

    @include at-breakpoint($total-columns) {
        .section {
            @include container;
            .section-icon {
                @include span-columns(2, $total-columns);
            }
            .section-content {
                @include span-columns(5 omega, $total-columns);
            }
        }
    }
}

header,
.invitation {
    margin: $grid-padding 0;
}

/* -------------------------------------------------------------------------*/
/* Icons */

.section {
    .icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 4.5em 4.5em;
        display: block;
        height: 4.5em;
        margin: 1em auto;
        width: 4.5em;
    }
}

@for $i from 1 to 11 {
    .section-#{$i} {
        .icon {
            background-image: url(../assets/svgs/section-#{$i}.svg);
        }
    }
}

/* -------------------------------------------------------------------------*/
/* Layout */

header {
    background-image: url(../assets/svgs/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 15em;
    margin: 0 auto;
    text-indent: -9999px;
    width: 100%;
}

.invitation {
    background: white;
    border: 1px solid $border-color;
    padding: $grid-padding;
    text-align: center;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-9 {
    ul {
        list-style: none;
        margin: 1em 0;
        padding: 0;
        li > ul {
            margin: 0;
            li {
                display: inline;
                list-style: none;
                margin: 0;
                padding: 0;
                &:before {
                    content: ", ";
                }
                &:last-child {
                    &:before {
                        content: " & ";
                    }
                }
                &:first-child {
                    &:before {
                        content: "";
                    }
                }
                .guest__picture {
                    display: none;
                }
            }
        }
    }
}

.section-10 {
    ul {
        li {
            color: $logo-color;
            font-weight: bold;
            ul {
                margin: 1em 0;
                li {
                    color: $text-color;
                    font-weight: normal;
                    margin: 1em 0;
                }
            }
        }
    }
}

@include at-breakpoint($total-columns) {
    .section {
        text-align: left;
    }
    .section-9 {
        ul {
            li > ul {
                clear: left;
                li {
                    float: left;
                    margin: 1em 0;
                    width: 50%;
                    &:before { content: none; }
                    &:last-child {
                        &:before { content: none; }
                    }
                    &:first-child {
                        &:before { content: none; }
                    }
                    .guest__picture {
                        border-radius: 5em;
                        display: inline-block;
                        height: 3.125em;
                        margin-right: 1em;
                        vertical-align: middle;
                        width: 3.125em;
                    }
                    .guest__picture-border {
                        height: 3.125em;
                        position: absolute;
                        width: 3.125em;
                    }
                }
            }
            &.animate {
                .guest--attending {
                    .guest__picture {
                        -webkit-animation: bounce 1s 1;
                        -moz-animation:    bounce 1s 1;
                        -o-animation:      bounce 1s 1;
                        animation:         bounce 1s 1;
                    }
                    .guest__picture .guest__picture-border {
                        border-radius: 5em;
                        -webkit-animation: border .2s forwards 1 1s;
                        -moz-animation:    border .2s forwards 1 1s;
                        -o-animation:      border .2s forwards 1 1s;
                        animation:         border .2s forwards 1 1s;
                    }
                }
            }
        }
    }
    .section-10 {
        li {
            li {
                padding-left: 1em;
            }
        }
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0%);
        -moz-transform:    translateY(0%);
        -o-transform:      translateY(0%);
        transform:         translateY(0%);
    }

    50% {
        -webkit-transform: translateY(-20%);
        -moz-transform:    translateY(-20%);
        -o-transform:      translateY(-20%);
        transform:         translateY(-20%);
    }
}

@-moz-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0%);
        -moz-transform:    translateY(0%);
        -o-transform:      translateY(0%);
        transform:         translateY(0%);
    }

    50% {
        -webkit-transform: translateY(-20%);
        -moz-transform:    translateY(-20%);
        -o-transform:      translateY(-20%);
        transform:         translateY(-20%);
    }
}

@-o-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0%);
        -moz-transform:    translateY(0%);
        -o-transform:      translateY(0%);
        transform:         translateY(0%);
    }

    50% {
        -webkit-transform: translateY(-20%);
        -moz-transform:    translateY(-20%);
        -o-transform:      translateY(-20%);
        transform:         translateY(-20%);
    }
}

@keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0%);
        -moz-transform:    translateY(0%);
        -o-transform:      translateY(0%);
        transform:         translateY(0%);
    }

    50% {
        -webkit-transform: translateY(-20%);
        -moz-transform:    translateY(-20%);
        -o-transform:      translateY(-20%);
        transform:         translateY(-20%);
    }
}

@-webkit-keyframes border {
    0% {
        -webkit-box-shadow: 0 0 1px 0 #6DFF94;
           -moz-box-shadow: 0 0 1px 0 #6DFF94;
                box-shadow: 0 0 1px 0 #6DFF94;
    }
    100% {
        -webkit-box-shadow: 0 0 5px 1px #6DFF94;
           -moz-box-shadow: 0 0 5px 1px #6DFF94;
                box-shadow: 0 0 5px 1px #6DFF94;
    }
}

@-moz-keyframes border {
    0% {
        -webkit-box-shadow: 0 0 1px 0 #6DFF94;
           -moz-box-shadow: 0 0 1px 0 #6DFF94;
                box-shadow: 0 0 1px 0 #6DFF94;
    }
    100% {
        -webkit-box-shadow: 0 0 5px 1px #6DFF94;
           -moz-box-shadow: 0 0 5px 1px #6DFF94;
                box-shadow: 0 0 5px 1px #6DFF94;
    }
}

@-o-keyframes border {
    0% {
        -webkit-box-shadow: 0 0 1px 0 #6DFF94;
           -moz-box-shadow: 0 0 1px 0 #6DFF94;
                box-shadow: 0 0 1px 0 #6DFF94;
    }
    100% {
        -webkit-box-shadow: 0 0 5px 1px #6DFF94;
           -moz-box-shadow: 0 0 5px 1px #6DFF94;
                box-shadow: 0 0 5px 1px #6DFF94;
    }
}

@keyframes border {
    0% {
        -webkit-box-shadow: 0 0 1px 0 #6DFF94;
           -moz-box-shadow: 0 0 1px 0 #6DFF94;
                box-shadow: 0 0 1px 0 #6DFF94;
    }
    100% {
        -webkit-box-shadow: 0 0 5px 1px #6DFF94;
           -moz-box-shadow: 0 0 5px 1px #6DFF94;
                box-shadow: 0 0 5px 1px #6DFF94;
    }
}
